<%= image_tag movie.coverart.url(:medium) %>

<%= form_for movie, :class => 'form-horizontal' do |f| %>
	<fieldset>
		<label>Name</label>
		<%= f.text_field :name %>
	</fieldset>
	<fieldset>
		<label>Description</label>
		<%= f.text_area :description, :class => 'input-xlarge', :rows => 3%>
	</fieldset>
  <fieldset>
    <label>Year</label>
    <%= f.text_field :year %>
  </fieldset>
	<div class="form-actions">
		<%= f.submit "Update", :class => 'btn btn-primary' %>
	</div>
<% end %>